body {
  margin: 0;
  padding: 0;
  
  margin-bottom: 10vh;
}

header {
  background-color: #776784;
  display: flex;
  align-items: center;
  position: fixed;
  height: 14vh;
  width: 100vw;
}
header img{
  display: inline-block;
  max-width: 20%;
  max-height: 100%;
}
header a{
  text-decoration: none;
  color: white;


}
button.logout{
  margin-left: 4vw;
  color: black;
}
button.logout a{
  color: black;
  font-size: medium;
}

div.main{
  margin-top: 13vh;
}

h1 {
  color: white;
  margin: 0;
  font-size: 5vh;
  margin-right: 4vw;
  margin-left: 1vw;
}

.sidebar {
  position: fixed;
  top: 14vh;
  left: 0;
  
  bottom: 0;
  width: 15vw;
  background-color: #81007f;
  
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.sidebar a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: medium;
  overflow: hidden;
  background-color: #ffc0cb;
  border-radius: 5px;
  width: 100%;
  padding: 5;
  margin-bottom: 5px;
  height: fit-content;
}

.sidebar a img {
  display: inline-block;
  max-width: 100%;
  max-height: 50px;
}

.sidebar a h2 {
  display: inline-block;
  margin-left: 2vw;
  height: fit-content;
  width: 2vw;
  text-align: center;
}

.content {
  margin-left: 20%;
  padding: 20px;
}

footer {
  background-color:#776784;
  height: 5vh;
  width: 100%;
  margin-left: 17vw;
  position: fixed;
  left: 0;
  bottom: 0;
}

/* FORMS */

  
      .content {
        margin-left: 20%;
        padding: 20px;
      }
  
      footer {

        background-color: #776784;
        height: 5vh;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        
      }


      /* FORMS */
      .form {
        display: flex;
        flex-wrap: wrap;
      }
  
      .form label {
        width: 20%;
        padding-right: 10px;
        box-sizing: border-box;
      }
      select#status{
        width: 30%; 
        margin-bottom: 10px;
        padding: 5px;
        box-sizing: border-box;
      }
      .form input[type="text"],
      .form input[type="date"] {
        width: 30%; 
        margin-bottom: 10px;
        padding: 5px;
        box-sizing: border-box;
      }
  
      .form input[type="submit"] {
        width: 100%;
        margin-top: 10px;
        padding: 5px 10px;
        background-color: purple;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .form input.error {
        border-color: red;
      }

/* COURSEMANAGE */
      .module {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        width: 300px;
       
    }

    #module-form {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    #module-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
    }


    /* TABLES */

    table {
      border-collapse: collapse;
    }
    
    thead th {
      border-bottom: 1px solid black;
    }
    
    tbody td {
      border-bottom: 1px solid #ccc;
    }
    
    tbody tr:last-child td {
      border-bottom: none;
    }
    
    tbody tr td:not(:last-child) {
      border-right: 1px solid #ccc;
    }